/**********************************************************
  
  BASELESS Standard Library
  
  Base stylesheet include, keeps all the base base,
  you'll likely want to create your own base file inside
  of templates/ and then change your order of files inside
  of style.less

  author: @dhigginbotham

**********************************************************/

//
// box sizing
// apply a natural box layout model to all elements, but allowing components to change
// more info @ http://www.paulirish.com/2012/box-sizing-border-box-ftw/
//

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  line-height: @typo-font-lineheight;
  font-family: @typo-font-base;
  font-size: @typo-font-size;
  color: @typo-font-color;
  background: @color-light;
}