/**********************************************************
  
  BASELESS Standard Library
  
  Constants stylesheet include, keeps all the base constants,
  you'll likely want to create your own constants file inside
  of templates/ and then change your order of files inside
  of style.less

  author: @dhigginbotham

**********************************************************/

//
// color constants
// special thanks to http://www.colourlovers.com/palette/3772944/Run_to_the_rainbow
// for the color palette <3

@color-primary:                                       #79BEE7;
@color-success:                                       #6D8122;
@color-warning:                                       #9B4D4B;
@color-notice:                                        #EDB927;
@color-info:                                          #C28B00;
@color-inverted:                                      #333;
@color-light:                                         #F1F1F1;

//
// breakpoint constants
//

@breakpoint-phone:                                    280px;
@breakpoint-tablet:                                   480px;
@breakpoint-tablet-ls:                                768px;
@breakpoint-desktop:                                  960px;

//
// grid constants
//

@grid-gutter-size:                                    1.5em;

//
// typography constants
//

@typo-font-sans-serif:                                Helvetica, Arial, sans-serif;
@typo-font-serif:                                     Geogia, 'Times New Roman', serif;
@typo-font-heading:                                   @typo-font-serif;
@typo-font-base:                                      @typo-font-sans-serif;
@typo-font-lineheight:                                1.4;
@typo-font-size:                                      100%;
@typo-font-color:                                     @color-inverted;
