/**********************************************************
  
  BASELESS Standard Library
  
  Mixins stylesheet include, keeps all the base mixins,
  you'll likely want to create your own mixins file inside
  of templates/ and then change your order of files inside
  of style.less

  author: @dhigginbotham

**********************************************************/

//
// .border-radius
//

.border-radius(@tleft: 3px, @tright: 3px, @bright: 3px, @bleft: 3px) {
  border-radius: @tleft @tright @bright @bleft;
}

//
// .reset-spacing
// i find myself doing this constantly, you may find this
// useful as well
// 

.reset-spacing(@margin: 0, @padding: 0) {
  margin: @margin;
  padding: @padding;
}

//
// .reset-list
// i also find myself doing this constantly, sharing the
// wealth <3
//

.reset-list(@margin, @padding) {
  .reset-spacing(@margin, @padding);
  list-style-type: none;
  display: block;
  li {
    .reset-spacing(@margin, @padding);
    display: block;
  }
}

//
// .disable-selection
// makes modern browsers not allow the selection
// more info @ https://css-tricks.com/almanac/properties/u/user-select/
//

.disable-selection() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
