<div class="row">
	<div class="bs-btn-group col sixcol">
		<input class="bs-form-elem"type="text" placeholder="Search...">
		<div class="bs-btn primary">Submit</div>
	</div>
	<div class="bs-btn-group col sixcol">
		<select class="bs-form-elem" name="findstuff" id="stuffs">
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
			<option value="null">example thing</option>
		</select>
		<div class="bs-btn primary">Submit</div>
	</div>
</div>