<div class="row" style="margin-bottom: 20px;">
   <div class="col eightcol"><div style="border: 1px solid #ccc;" class="text-center">eightcol</div></div>
   <div class="col fourcol"><div style="border: 1px solid #ccc;" class="text-center">fourcol</div></div>
</div>