<ul class="{{cssPrefix}}list {{modifier_class}}">
   <li>Unordered list example</li>
   <li>Unordered list example</li>
   <li>Unordered list example</li>
</ul>
<ol class="{{cssPrefix}}list {{modifier_class}}">
   <li>Ordered list example</li>
   <li>Ordered list example</li>
   <li>Ordered list example</li>
</ol>