<div class="row">
  <div class="col onecol">
    <div class="bs-shape mini primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini inverted"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape mini circle inverted"></div>
  </div>
</div>
<div class="row">
  <div class="col onecol">
    <div class="bs-shape small primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small inverted"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape small circle inverted"></div>
  </div>
</div>
<div class="row">
  <div class="col onecol">
    <div class="bs-shape primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape inverted"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape circle inverted"></div>
  </div>
</div>
<div class="row">
  <div class="col onecol">
    <div class="bs-shape large primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle primary"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle success"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle warning"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle notice"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle info"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large inverted"></div>
  </div>
  <div class="col onecol">
    <div class="bs-shape large circle inverted"></div>
  </div>
</div>
