<table class="{{cssPrefix}}table {{modifier_class}}">
   <thead>
     <tr>
       <th>Example table heading column</th>
       <th>Example table heading column</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
     <tr>
       <td>Example table column</td>
       <td>Example table column</td>
     </tr>
   </tbody>
</table>