/**********************************************************
  
  BASELESS Standard Library
  
  Buttons stylesheet include, keeps all the base buttons,
  you'll likely want to create your own buttons file inside
  of templates/ and then change your order of files inside
  of style.less

  author: @dhigginbotham

**********************************************************/

.btn-bg-color-acsent(@color, @intensity: 10) {
  @i1: unit(@intensity*1,~"%");
  @i2: unit(@intensity*2,~"%");
  background: @color;
  box-shadow: 0 1px 0 darken(@color, @i2);
  &:hover {
    background: darken(@color, @i1);
  }
  &:active {
    background: darken(@color, @i2);
  }
  color: @color-light;
  &:visited {
    color: @color-light;
  }
}

.@{css-prefix}btn {
  
  cursor: pointer;

  .reset-spacing(3px 0, 5px 10px);

  line-height: 16px;

  border: 0;
  
  color: @color-inverted;
  &:visited,
  &:hover,
  &:active {
    color: @color-inverted;
  }

  font-family: @typo-font-base;
  font-size: 14px;
  text-decoration: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .disable-selection();

  .border-radius();

  &.primary {
    .btn-bg-color-acsent(@color-primary);
  }

  &.success {
    .btn-bg-color-acsent(@color-success);
  }
  
  &.warning {
    .btn-bg-color-acsent(@color-warning);
  }
  
  &.notice {
    .btn-bg-color-acsent(@color-notice);
  }
  
  &.info {
    .btn-bg-color-acsent(@color-info);
  }

  &.inverted {
    .btn-bg-color-acsent(@color-inverted);
  }

  &:disabled, &.disabled {

  }

}
