// Buttons
//
// BASELESS buttons components, including modifiers for color and size.
// 
// Markup: docs/buttons.hbs
// 
// .primary - primary button color
// .success - success button color
// .warning - warning button color
// .notice - notice button color
// .info - info button color
// .inverted - inverted button color
// .text - text button color
// .disabled - disabled button color
// .primary.large - large button style
// .primary.medium - medium button style
// .primary.base - base button style
// .primary.small - small button style
// .primary.mini - mini button style
//  
// Styleguide 2.2.
.btn-accent(@bg: #e6e6e6, @color: @color-inverted, @intensity: 10) {
  @i1: unit(@intensity*1,~"%");
  @i2: unit(@intensity*1.2,~"%");
  background: @bg;
  &:hover {
    background: darken(@bg, 7%);
  }
  &:active {
    background: darken(@bg, 9%);
  }
  color: @color;
  &:visited {
    color: @color;
  }
  &:disabled, &.disabled {
    cursor: not-allowed;
    background: desaturate(darken(@bg, @i2),20%);
  }
}

.@{css-prefix}btn {
  
  cursor: pointer;

  .reset-spacing(0, (@typo-font-size-base / 1.5) @typo-font-size-base);

  border: 0;
  display: inline-block;
  color: @color-inverted;
  &:visited,
  &:hover,
  &:active {
    color: @color-inverted;
  }

  &:focus {
    outline: none;
  }

  font-family: @typo-font-heading;
  font-size: @typo-font-size-base;
  font-weight: 600;
  text-decoration: none;

  vertical-align: middle;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .disable-selection();

  .border-radius(4px);

  .btn-accent();

  &.large {
    font-size: @typo-font-size-large;
    .reset-spacing(0, (@typo-font-size-large / 1.5) @typo-font-size-large);
  }

  &.small {
    font-size: @typo-font-size-small;
    .reset-spacing(0, (@typo-font-size-small / 1.5) @typo-font-size-small);
  }
  
  &.medium {
    font-size: @typo-font-size-medium;
    .reset-spacing(0, (@typo-font-size-medium / 1.5) @typo-font-size-medium);
  }
  
  &.mini {
    font-size: @typo-font-size-mini;
    .reset-spacing(0, (@typo-font-size-mini / 1.5) @typo-font-size-mini);
  }

  &.primary {
    .btn-accent(@color-primary, @color-light);
  }

  &.success {
    .btn-accent(@color-success, @color-light);
  }
  
  &.warning {
    .btn-accent(@color-warning, @color-light);
  }
  
  &.notice {
    .btn-accent(@color-notice, @color-light);
  }
  
  &.info {
    .btn-accent(@color-info, @color-light);
  }
  
  &.text {
    .btn-accent(transparent, @color-primary);
  }

  &.inverted {
    .btn-accent(@color-inverted, @color-light);
  }

}
