// Forms
// 
// Styles to hold our base form styles
// 
// Markup: docs/forms.hbs
//  
// Styleguide components.forms.


.@{css-prefix}form {
  &, * {
    vertical-align: middle;
  }
  .reset-spacing(0,0);
}

.@{css-prefix}form-group {

  &.@{css-prefix}form-flex {
    display: flex;

    .@{css-prefix}form-group-flex {
      flex-grow: 1; 
      & + .@{css-prefix}form-elem-flex-gap { 
        margin-left: .5em 
      }
    }
  }

  .reset-spacing(@elem-default-padding 5px, 0);
  .clearfix();

  label {
    margin-bottom: 3px;
    font-weight: @typo-font-weight-bold;
    font-size: @typo-font-size-small;
    display: block;
  }
  
  &.inline {
    label {
      display: inline-block;
    }
  }

  overflow: hidden;
}

.@{css-prefix}form-descriptor {
  color: @color-grey-light;
  font-style: italic;
}

input.@{css-prefix}form-elem,
select.@{css-prefix}form-elem {
  height: 35px;
}

.@{css-prefix}form-elem {

  display: inline-block;

  .reset-spacing(0, (@typo-font-size-base / 1.7) @typo-font-size-base);
  .border-radius();

  border: 1px solid @color-grey-default-accent;

  box-shadow: inset 1px 1px 0 @color-grey-default,
              inset -1px -1px 0 @color-grey-default;

  background: @color-light;
  color: @typo-font-color;
  
  font-family: @typo-font-base;
  font-size: @typo-font-size-base;

  vertical-align: middle;
  
  &:active, &:focus {
    border-color: darken(@color-grey-default-accent, 15%); 
  }

}

.@{css-prefix}form-gap-r,
.@{css-prefix}form-gap-l {
  margin-bottom: 0;
}

.@{css-prefix}form-gap-l {
  margin-left: 5px;
}

.@{css-prefix}form-gap-r {
  margin-right: 5px;
}

.@{css-prefix}form-control {
  .reset-spacing(10px 0 0,10px 0 0);
  border-top: 1px solid @color-grey-default-accent;
}