// Forms
// 
// Styles to hold our base form styles
// 
// Markup: docs/forms.hbs
// 
// Styleguide 2.3.

.@{css-prefix}form {
  .reset-spacing(0,0);
}

.@{css-prefix}form-group {
  .reset-spacing(3px 0, 0);
  .clearfix();
  label {
    font-weight: 700;
    display: block;
  }
  &.inline {
    label {
      display: inline-block;
    }
  }
}

.@{css-prefix}form-elem {
  .reset-spacing(0, 3px 7px);
  .border-radius();
  border: 1px solid @color-grey-default-accent;
  box-shadow: inset 1px 1px 0 @color-grey-default;
  &.full-width {
    width: 100%;
  }
}

.@{css-prefix}form-control {
  .reset-spacing(10px 0 0,10px 0 0);
  border-top: 1px solid @color-grey-default-accent;
}