// Labels
// 
// labels, idk what to say about them, they're helpful
// 
// Markup: docs/labels.hbs
// 
// .primary - primary label color
// .success - success label color
// .warning - warning label color
// .notice - notice label color
// .info - info label color
// .inverted - inverted label color
// .primary.small.box - small box label
// .primary.small - small label size
// .primary.mini - mini label size
// .primary.large - large label size
//  
// Styleguide components.labels.

.label-accent(@bg: @color-grey-default, @color: @color-inverted, @border: transparent) {
  .card-generator(@bg, @border, @color);
}

.@{css-prefix}label:not(a) {
  cursor: default;
}

.@{css-prefix}label {

  .reset-spacing(0, 0 3px 1px);
  .border-radius(2px);
  .disable-selection();

  display: inline-block;
  font-weight: @typo-font-weight-bold;
  vertical-align: middle;
  text-align: center;
  font-size: (@typo-font-size-base - 5px);

  &.small {
    font-size: @typo-font-size-small - 3px;
  }
  &.large {
    font-size: @typo-font-size-large - 3px;
  }
  &.mini {
    font-size: @typo-font-size-mini - 3px;
  }

  .label-accent();

  &.box {
    .border-radius(0);
  }
  
  .for(@colors); .-each(@c) {
    &.@{c} {
      .label-accent(@@c, @color-light);
    }
  }
  
  &.text {
    .label-accent(transparent, @color-primary);
  }

}