// Lists
// 
// Common set of useful list styles
// 
// Markup: docs/lists.hbs
// 
// .flat - flattens list style
// .inline - inline list style
// .nav.flat.connected - combined inline nav list style
// .nav.flat.connected.rounded.primary - primary colored nav list
// .nav.flat.connected.rounded.light-grey - light grey colored nav list
// .nav.flat.connected.rounded.notice - notice colored nav list
// .nav.flat.connected.rounded - notice colored nav list
//  
// Styleguide components.lists.

.list-accent(@bg: @color-card-warm-grey, @color: @color-grey-darkest) {
  .card-generator(@bg, transparent, @color);
  li {
    font-weight: @typo-font-weight-bold;
    &:hover {
      background: darken(@bg, 4%);
    }
    a {
      color: @color;
    }
  }
}

.@{css-prefix}list {
  
  .clearfix();
  
  &.flat {
    .reset-spacing();
    list-style: none;
    li {
      .reset-spacing();
      vertical-align: middle;
    }
  }
  
  &.inline {
    li {
      display: inline-block;
    }
  }
    
  &.nav {
    li {
      .reset-spacing(3px 2px 3px 0, 4px 10px);
      &:hover {
        cursor: pointer;
      }
    }
    .list-accent();
    &.primary {
      .list-accent(@color-primary, @color-light);
    }
    &.light-grey {
      .list-accent(@color-card-light-grey);
    }
    &.notice {
      .list-accent(@color-notice, @color-light);
    }
  }

  // Block lists
  //
  // block lists are helpful
  //
  // <ul class="bs-list block-list">
  //   <li class="list-heading">
  //     Block List Heading
  //   </li>
  //   <li>List Item 1</li>
  //   <li>List Item 2</li>
  //   <li>List Item 3</li>
  //   <li>List Item 4</li>
  //   <li>List Item 5</li>
  // </ul>
  //
  // Styleguide components.lists.block-list

  &.block-list {
    .reset-spacing();
    .list-heading {
      font-weight: @typo-font-weight-bold;
      color: @color-grey-light;
    }
    li {
      .reset-spacing(0,10px 0);
      display: block;
      border-bottom: 1px solid @color-grey-default-accent;
    }
  }
  
  &.connected {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    .reset-spacing(5px 0);
    li {
      .pull-left();
      .reset-spacing(0, 7px 10px);
      display: inline-block;
      border-right: 1px solid rgba(0,0,0,0.1);
      &:last-child {
        border-right: none;
      }
    }
  }
  
}
