// Lists
// 
// Common set of useful list styles
// 
// Markup: docs/lists.hbs
// 
// .flat - flattens list style
// .inline - inline list style
//  
// Styleguide components.lists.

.list-accent(@bg: @color-card-warm-grey, @color: @color-grey-darkest) {
  .card-generator(@bg, transparent, @color);
  li {
    font-weight: @typo-font-weight-bold;
    &:hover {
      background: darken(@bg, 4%);
    }
    a {
      color: @color;
    }
  }
}

.@{css-prefix}list {
  
  .clearfix();
  
  &.flat {
    .reset-spacing();
    list-style: none;
    li {
      .reset-spacing();
      vertical-align: middle;
    }
  }
  
  &.inline {
    li {
      display: inline-block;
    }
  }
  
  // Nagivation Lists
  //
  // nav bar style lists
  //
  // Markup: docs/nav-lists.hbs
  //
  // .rounded.primary - primary colored nav list
  // .rounded.light-grey - light grey colored nav list
  // .rounded.inverted - inverted colored nav list
  // .rounded - inverted colored nav list
  //
  // Styleguide: components.lists.nav-lists.
  
  &.nav {
    li {
      .reset-spacing(3px 2px 3px 0, 4px 10px);
      &:hover {
        cursor: pointer;
      }
    }
    .list-accent();
    &.primary {
      .list-accent(@color-primary, @color-light);
    }
    &.light-grey {
      .list-accent(@color-card-light-grey);
    }
    &.inverted {
      .list-accent(@color-inverted, @color-light);
    }
  }

  &.connected {
    width: auto;
    vertical-align: middle;
    .reset-spacing(5px 0);

    li {
    
      .pull-left();
      .reset-spacing(0, 7px 10px);
    
      display: inline-block;
      border-right: 1px solid rgba(0,0,0,0.1);
    
      &:last-child {
        border-right: none;
      }
    
    }
  }
  
  // Block lists
  // 
  // block style, lists
  //
  // Markup: docs/block-lists.hbs
  //
  // Styleguide components.lists.block-list.

  &.block-list {
    .reset-spacing();
    .list-heading {
      font-weight: @typo-font-weight-bold;
      color: @color-grey-light;
    }
    li {
      .reset-spacing(0,10px 0);
      display: block;
      border-bottom: 1px solid @color-grey-default-accent;
    }
  }
  
}
