// Panels
// 
// BASELESS Panels components, use them as you would any panel.
// 
// Markup: docs/panels.hbs
// 
// .primary - primary panel color
// .success - success panel color
// .warning - warning panel color
// .utility - utility panel color
// .rounded.default - round panel
//  
// Styleguide components.panels.

.panel-accent(@bg: @color-grey-default-accent, @border: @color-grey-default-accent, @color: @color-light) {
  border: 1px solid @border;
  .panel-heading {
    color: @color;
    background: @bg;
    border-bottom: 1px solid @border;
  }
  .panel-list-item {
    border-top: 1px solid @border;
    &.hover {
      &:hover {
        background: mix(@color-light, @bg, 50%); 
      }
    }
  }
}

.@{css-prefix}panel {

  .reset-spacing(0,0);
  .clearfix();

  .panel-heading,
  .panel-body,
  .panel-list-item,
  .panel-notice {
    .reset-spacing(0, @elem-default-padding);
  }

  .panel-heading {
    font-weight: @typo-font-weight-heavy;
    font-size: @typo-font-size-small;
  }

  .panel-body {
    background: @color-light;
  }



  .panel-foot {
    .reset-spacing(0, 5px @elem-default-padding);
    font-size: 75%;
  }

  .panel-list {
    .panel-list-item {
      &:first-child, &.first {
        border-top: none;
      }
    }
  }

  .panel-accent();
  
  &.utility {
    .panel-accent(@color-card-warm-grey, @color-card-warm-grey-border, @color-primary-text);
  }

  .for(@colors); .-each(@c) {
    &.@{c} {
      .panel-accent(@@c, darken(@@c, 10%), @color-light);
    }
  }

}