// Tables
// 
// Tabular data should be presented in a nice way, we'll keep this simple
// and use .row/.col style tables for most things ideally (i would image).
// 
// Markup: docs/tables.hbs
// 
// .striped - striped table style
// .small - small table style
// .large - large table style
// .primary - primary table style
// .success - success table style
// .warning - warning table style
// .notice - notice table style
// .info - info table style
// .inverted - inverted table style
// .info.striped - info and striped table style
// .info.striped.hover - info and striped table style
// 
// Styleguide 2.9.

.table-accent(@border: @color-grey-default-accent, @bg: @color-light, @color: @color-light) {
  th {
    color: @color;
  }
  th,
  td {
    border: 1px solid @border;
  }
  thead {
    tr {
      th,
      td {
        background: lighten(@border, 2%);
      }
    }
  }
  &.striped {
    tbody {
      tr {
        background: lighten(@border, 3%);
        &:nth-child(odd) {
          background: lighten(desaturate(@bg, 30%), 6%);
        }
      }
    }
  }
  &.hover {
    th,
    td {
      &:hover {
        background: lighten(@border, 2%);
      }
    }
  }
}

.@{css-prefix}table {
  width: 100%;
  th {
    text-align: left;
  }
  th,
  td {
    .reset-spacing(0, 5px);
  }

  .table-accent();
  &.primary {
    .table-accent(@color-primary);
  }
  &.success {
    .table-accent(@color-success);
  }
  &.warning {
    .table-accent(@color-warning);
  }
  &.notice {
    .table-accent(@color-notice);
  }
  &.info {
    .table-accent(@color-info, @color-light);
  }
  &.inverted {
    .table-accent(@color-inverted);
  }
  &.small {
    th,
    td {
      font-size: @typo-font-size-small;
    }
  }
  &.large {
    th,
    td {
      .reset-spacing(0, 7px 5px);
      font-size: @typo-font-size-large;
    }
  }
}
